<head>
    <meta charset="UTF-8">
    <title>Baven | <%= title %></title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <footer>
        <p>Copyright 2024 Baven Bookshop</p>
    </footer>
</body>
