<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <main>
        <div class="panel welcome">
            <nav>
                <a href="/">Home</a>
                <a href="/">Portfolio</a>
                <a href="/">Contacte</a>
            </nav>
            <div>
                <h1>Moony</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aut quibusdam minima doloribus blanditiis! Aspernatur accusantium quisquam quas praesentium inventore vel, adipisci illo veritatis! Laborum quae vero nemo assumenda rem.</p>
            </div>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </footer>
        </div>
        <div class="panel about">
            <img src="image/1.png" alt="main pic>">
            <div class="text">
                <h1>About Me</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, dolorem obcaecati facere vitae saepe excepturi beatae? Dolore dolor ipsum, culpa rerum earum tenetur. Possimus officiis iusto necessitatibus nesciunt. A, nesciunt!</p>
            </div>
        </div>
        <div class="panel photos"></div>
    </main>
</body>
</html>         