@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background: #f5f5f5;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.product{
    margin-top: 20px;
    padding: 10px 20px;
    align-items: center;
    text-transform: capitalize;
  }
  .product-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: #fff;
    background: #34AF6D;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid #4AD489;
  }
  .table input {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
  }
  .table button:hover{
    background: #d44a4a;
    color: #fff;
    transition: 0.5rem;
  }

  button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
  }
  button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
  }


  